@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');

/*  mix-blend-mode: overlay; usar en capa */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    /*Nos permie desilzar cuando hacemos click en los links del menu*/
    scroll-behavior: smooth;
}

.contenedor-header {
    background: #1E2D3B;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;
    top: 0;
}

.contenedor-header header {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo {
    background-color: rgb(237, 205, 31);
    text-decoration: none;
    display: flex;
    text-align: center;
    padding: 0px;

}

.contenedor-header header .logo a {
    font-size: 25px;
    color: #1E2D3B;
    background-color: rgb(237, 205, 31);
    text-decoration: none;
    letter-spacing: 0.03em;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #ffffff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    letter-spacing: 0.05em;
}

.contenedor-header header nav ul li a.active,
header nav ul li a:hover {
    color: rgb(237, 205, 31);
}

.nav-responsive {
    background-color: rgb(237, 205, 31);
    color: #ffffff;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}



/*SECCION INICIO*/
.inicio {
    min-height: 90vh;
    position: relative;
}

.miVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1E2D3B;
    opacity: 0.4;
}


.title-inicio {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
    color: rgb(225, 225, 225);
    font-size: 40px;
    letter-spacing: 0.05em;
    text-decoration: none;
}



.title-inicio a {
    color: rgb(237, 205, 31);
    margin-top: 30px;
}

/*SECCION SERVICIOS*/
.contenedor_card{
    position: relative;
    min-height: 79vh;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    scroll-margin-top: 3.8em;
}

.card-group{
    padding: 0px;
    background-color: #f8f9fa;

}

.card{
    margin: 10px;
}

.contenedor_card h2{
    text-decoration: underline dashed rgb(237, 205, 31);
    background-color:#f8f9fa;
    color:#1E2D3B;
    font-size: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 40px;
}





/*SECCION NOSOTROS*/
.contenedor_nosotros {
    background-image: url('../IMG/building-2762319_1920-min-1920x960.jpg');
    background-attachment: fixed;
    background-size: cover;
    height:92%;
    position: absolute;

}

.contenido-nosotros {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: auto;
    color: black;
    font-size: 40px;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-decoration: none;
    background-color: #1E2D3B;
    margin-top: 65px;
    opacity: 0.8;
    border-radius: 20px;
}

.contenido-nosotros h5 {
    font-size: 50px;
    background-color: rgb(250, 213, 2);
    margin: 20px;
    color: #1E2D3B;
    padding: 15px;
}

.contenido-nosotros p {
    color: #ffffff;
    font-size: 30px;
    margin: 20px;
}



/* MEDIA QUERYS */


@media screen and (max-width: 998px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #ffffff;
        padding: 10px 0;
    }

    /*SECCION INICIO*/
    .title-inicio {
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin: auto;
        position: relative;
        z-index: 2;
        color: rgb(225, 225, 225);
        font-size: 30px;
        letter-spacing: 0.05em;

    }

    .contenedor_titulo {
        font-size: 30px;
    }

    .contenedor_card {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
    }

    .contenedor-img img {
        width: 80%;
    }

}