@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');

/*  mix-blend-mode: overlay; usar en capa */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    /*Nos permie desilzar cuando hacemos click en los links del menu*/
    scroll-behavior: smooth;
}

.contenedor-header {
    background: #1E2D3B;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;
    top: 0;
}

.contenedor-header header {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
}

.contenedor-header header .logo {
    background-color: rgb(237, 205, 31);
    text-decoration: none;
    display: flex;
    text-align: center;
    padding: 0px;

}

.contenedor-header header .logo a {
    font-size: 25px;
    color: #1E2D3B;
    background-color: rgb(237, 205, 31);
    text-decoration: none;
    letter-spacing: 0.03em;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;

}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #ffffff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    letter-spacing: 0.05em;
}

.contenedor-header header nav ul li a.active,
header nav ul li a:hover {
    color: rgb(237, 205, 31);
}

.nav-responsive {
    background-color: rgb(237, 205, 31);
    color: #ffffff;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


/* ------------------------ SECCION INICIO -------------------*/
.inicio {
    min-height: 90vh;
    position: relative;
}

.miVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1E2D3B;
    opacity: 0.4;
}

.title-inicio {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
    color: rgb(225, 225, 225);
    font-size: 40px;
    letter-spacing: 0.05em;
    text-decoration: none;
}

.title-inicio a {
    color: rgb(237, 205, 31);
    margin-top: 30px;
}



/*-------------------- SECCION SERVICIOS ---------------------*/
.contenedor_card{
    position: relative;
    min-height: 83vh;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    scroll-margin-top: 3.8em;
}
.card:hover {
    transform:scale(0.9);
    transition:all .5s ease-in-out;
    
  }
.card-group{
    background-color: #f8f9fa;
}

.card{
    margin: 10px;
}

.contenedor_card h2{
    text-decoration: underline dashed rgb(237, 205, 31) 13px;
    background-color:#f8f9fa;
    color:#1E2D3B;
    font-size: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 40px;
    scroll-margin-top: 3.8em;
}


/*------------ SECCION NOSOTROS ---------------*/
.contenedor_nosotros {
    background-image: url('../IMG/building-2762319_1920-min-1920x960.jpg');
    background-attachment: fixed;
    background-size: cover;
   min-height:100%;
    position: absolute;
    scroll-margin-top: 3.8em;
}

.contenido-nosotros {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 45%;
    margin: auto;
    font-size: 40px;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-decoration: none;
    background-color: #1E2D3B;
    margin-top: 50px;
    border-radius: 20px;
}

.contenido-nosotros h5 {
    font-size: 50px;
    background-color: rgb(250, 213, 2);
    color: #1E2D3B;
    opacity: 0.8;
    margin-top: 14px;
    border-radius: 20px;
}

.contenido-nosotros p {
    color: #ffffff;
    font-size: 30px;
    margin: 20px;
}


/*--------------- CONTENIDO PROYECTOS --------------*/
.contenedor_proyectos{
   background-color:#ffffff;
    position: absolute;
    margin-top: 900px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items:center ;
    scroll-margin-top: 3.8em;
}

.contenido-proyectos h5{
    font-size: 60px;
    color:#1E2D3B;
    text-decoration: underline dashed rgb(237, 205, 31) 13px;
    opacity: 0.8;
    margin: 20px;
    padding: 15px;
}
.contenido-proyectos p{
    font-size: 19px;
    letter-spacing: 0.05em;
}

.contenidoProyectosCard{
    position: relative;
    display: flex;
    justify-content: center;
}


/*---- GALERIA PROYECTOS --*/
.titleGaleria{
    color:#1E2D3B;
    letter-spacing: 0.05em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* -----------SECCION CONTACTO ----------------*/
.contacto {
    background-image: url(../IMG/fondo-img-contacto.png);
    background-color:#f8f9fa;
    color:#1E2D3B;
    padding: 50px 0;
    position: absolute;
    margin-top: 2300px;
    width: 100%;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;

}

.contacto h2 {
    text-decoration: underline dashed rgb(237, 205, 31) 13px;
    font-size: 48px;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-align: center;
    padding: 20px 0;
    margin-top: 5px;
}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color:#fff;
    color:#1E2D3B;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1.5;
}

.contacto button {
    cursor: pointer;
background-color:#1E2D3B;
    border: 2px solid #ffffff;
    width: 350px;
    display: block;
    margin: 0px auto;
    padding: 10px 22px;
    font-size: 16px;
    color:#ffffff;
    position: relative;
    z-index: 10;
}

.contacto .col img {
    width: 100%;
}

.contacto .col .info {
    position: absolute;
    top: 20%;
    background-color:#ffffff;
    padding: 20px;
    width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}


/* ----------FOOTER ------------*/
footer {
    background-color:#1E2D3B;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
    position: absolute;
    margin-top: 3210px;
    width: 100%;
}

footer .redes {
    margin-bottom: 10px;
}

footer .redes a {
    color:#ffffff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgb(237, 205, 31);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 5px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color:#1E2D3B;
    border: 1px solid rgb(237, 205, 31);
    color:#fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    border-radius: 50px;
    line-height: 50px;
    font-size: 18px;
}




/* ------------ MEDIA QUERYS ---------------- */
@media screen and (max-width: 998px) {
    /*SECCION NAV*/
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #ffffff;
        padding: 10px 0;
    }

    /*SECCION INICIO*/
    .title-inicio {
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin: auto;
        position: relative;
        z-index: 2;
        color: rgb(225, 225, 225);
        font-size: 30px;
        letter-spacing: 0.05em;
    }

    .contenedor_titulo {
        font-size: 30px;
    }

    .contenedor_card {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
    }

    .contenedor-img img {
        width: 80%;
    }

    /*SECCION NOSOTROS*/
    .contenido-nosotros h5 {
        font-size: 40px;
    }
    .contenido-nosotros {
        display: flex;
        flex-direction: column;
        text-align: center;
        width:70%;
    }
    /*SECCION CONTACTO*/
    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100%;
    }

    .contacto button {
        width: 100px;
    }

    .contacto .col img {
        width: 100%;
        height: 300px;
    }

    .contacto .col .info {
        position: absolute;
        top: 50%;
        background-color: #3f4042;
        padding: 20px;
        width: 300px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*IMAGENES SECCION PROYECTOS GALERIA AUTONATICA*/
    .d-block{
        width: auto;
        height:200px;
    }
}